.container {
    margin: auto;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.outline-none:focus {
    outline: none;
}

.underline-hover {
    padding-bottom: 0.05em;
    border-bottom: 1px solid transparent;
}
.underline-hover:focus,
.underline-hover:hover {
    text-decoration: none;
    transition: border-color 0.1s;
    border-bottom: 1px solid;
}

.serif {
    font-family: Source Serif Pro, georgia, times, serif;
}

h2 {
    /* f5 */
    font-size: 1rem;
    /* mt4 */
    margin-top: 2rem;
    font-weight: 600;
}

h3 {
    /* f6 */
    font-size: 0.875rem;
    /* mt3 */
    margin-top: 1rem;
    font-weight: 700;
}

.hover-bg-nearest-white:focus,
.hover-bg-nearest-white:hover {
    background-color: #fafafa;
}
