<!-- Lookup previous and next chapter -->
{% assign prevChapterNumber = include.current.chapter | minus: 1 %}
{% assign nextChapterNumber = include.current.chapter | plus: 1 %}

{% assign chapters = site.pages | where:'layout','chapter' | sort:'chapter' %}

{% for chapter in chapters %}
{% if chapter.chapter == prevChapterNumber %}
{% assign prevChapter = chapter %}
{% elsif chapter.chapter == nextChapterNumber %}
{% assign nextChapter = chapter %}
{% endif %}
{% endfor %}

<!-- Add previous and next links -->
<nav class="flex flex-wrap f6 fw3 ttu tracked mt5">
    {% if prevChapter.url %}
      <a class="bt b--light-silver flex justify-start items-center w-100 pv3 pr3 tl serif link outline-none gray hover-dark-gray hover-bg-nearest-white" href="{{ prevChapter.url }}" style="height: 5em;">
          <span class="sans-serif mr2">←</span>{{ prevChapter.title }}
      </a>
    {% else %}
      <span></span>
    {% endif %}

    <a href="{{ site.url }}/" class="bt b--light-silver flex justify-center items-center tc w-100 pa3 serif link outline-none gray hover-dark-gray hover-bg-nearest-white" style="height: 5em;">Top</a>


    {% if nextChapter.url %}
      <a class="bt b--light-silver flex justify-end items-center w-100 tr pv3 pl3 serif link outline-none gray hover-dark-gray hover-bg-nearest-white" href="{{ nextChapter.url }}"
      style="height: 5em;">
          {{ nextChapter.title }}<span class="sans-serif ml2">→</span>
      </a>
    {% else %}
      <span></span>
    {% endif %}
</nav>
